{% extends 'base.html' %}

{% block base %}	
	<div class="container">
		<section class="categories">
			<h1 class="text-center mb-3 mt-5">Categories</h1>
			<div class="row">
				{% for CateObj in CateList %}
					<div class="col-sm-4" style="margin-bottom: 30px">
						<a href="{% url 'CateID' CateObj.id %}">
							<img class="thumbnail" src="{{ CateObj.image.url }}">
							<div class="box-element product">
								<h2 class="text-center"><strong>{{CateObj}}</strong></h2>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>
{% endblock %}