{% extends "base.html" %}
{% load static %}
{% block base %}

<div class="top d-flex flex-wrap align-items-end justify-content-center">
    <div><a href="{% url 'store' %}" class="shop-btn btn rounded">Shop Now</a></div>
</div>
<div class="container">
	<section class="categories">
		<h1 class="text-center mb-3">Shop By Category</h1>
		<div class="row">
			{% for CateObj in CateList %}
				<div class="col-sm-4" style="margin-bottom: 30px;">
					<a style="text-decoration: none;" href="{% url 'CateID' CateObj.id %}">
						<img class="thumbnail" src="{{ CateObj.image.url }}">
						<div class="box-element product">
							<h2 class="text-center"><strong>{{CateObj}}</strong></h2>
						</div>
					</a>
				</div>
			{% endfor %}
			<div class="col-sm-4" style="margin-bottom: 40px; background-color: white; border-radius: 20px; padding: 10%">
				<a style="text-decoration: none;" href="{% url 'category-all' %}">
					<h2 class="text-center">Show All</h2>
				</a>
			</div>
		</div>
	</section>
	<section id="latest">
		<div class="container-fluid">
	  		<h1 class="text-center mt-5 mb-3">Latest Products</h1>
		  	<div class="row">
		  		<hr><br>
				{% for pdtObj, name, origin, imgurl in LatestProduct %}
					<div class="col-md-3" style="margin-bottom: 30px">
						<img class="thumbnail" src="{{ imgurl }}">
						<div class="box-element product">
							<h6><strong>{{name}}-{{pdtObj.weight}}</strong></h6>
							<hr>
							<button data-product={{pdtObj.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart" style='padding: 4px; font-size: 15px;' >Add to Cart</button>
							<a class="btn btn-outline-success" style='padding: 4px; font-size: 15px;' href="#">View</a>
							<p class="latestpdtprice"><strong><i id="cart-icon" class="fa fa-inr" aria-hidden="true"></i>{{pdtObj.price|floatformat:2}}</strong></p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
</div>
{% endblock %}