{% extends "store.html" %}
{% load static %}
{% block products %}

<div id="main">
	<div class="container">
	  	<div class="row">
			{% for pdtObj, name, origin, imgurl in pdtList %}
				<div class="col-md-4" style="margin-bottom: 30px">
					<img class="thumbnail" src="{{ imgurl }}">
					<div class="box-element product">
						<h6><strong>{{name}}-{{pdtObj.weight}}</strong></h6>
						<hr>
						<button data-product={{pdtObj.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
						<a class="btn btn-outline-success" href="#">View</a>
						<p class="storepdtprice"><strong><i id="cart-icon" class="fa fa-inr" aria-hidden="true"></i>{{pdtObj.price|floatformat:2}}</strong></p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}